body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background: #FFFFFF;
    border: 2px solid #000000;    
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 20px;
    padding: 5px 16px 5px 16px;
    text-align: center; 

}